@mixin outline($color: silver) {
  outline: 2px solid $color;
}

ul {
  list-style: none;
  padding: 0;
}

.id, .url, .friendly-name {
  display: none;
}

li {
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8vw;
}

.collection {

}

.issues {
  > .collection {
    > li:first-child {
      background: silver;
      .issue > li > .friendly-name {
        display: block;
      }
    }
  }
}

.labels {
  flex-grow: 1 !important;
  .label {
    display: block;
    padding: 0 1rem;
    margin: 0;

    .description {
      color: green;
    }
  }

  > .collection {
    outline: 1px dashed rgb(255, 0, 255);
    display: flex;
    flex-flow: row nowrap;
    ul.label {
      width: 100px;
      color: red;
      .friendly-name {
        display: none;
      }
    }
  }

  > .friendly-name {
    display: none !important;
  }

}
.description > .label {
  display: none;

}
.assignees, .id {
  display: none;
}

.issue {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  > li {
    flex: 0 1 10vw;

    &.number {
      flex: 0 1 2em;
      text-align: center;
    }

    &.assignees, &.user, &.created_at, &.updated_at, &.closed_at {
      display: none;
    }
  }
}