ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 11px; }

.issues > .collection > li:first-child .issue > li > .friendly-name {
  display: block;
  margin: 1rem 0;
  background: silver; }

.issues > .collection > li:first-child .description {
  display: block !important;
  margin: 1rem 0;
  color: black;
  font-weight: bold;
  background: silver; }

.labels .label {
  display: block;
  margin: 0; }
  .labels .label .description {
    color: green; }

.labels > .collection {
  display: inline-grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 1rem; }
  .labels > .collection .client-label {
    grid-column-start: 1;
    grid-column-end: 2; }
  .labels > .collection .priority-label {
    grid-column-start: 2;
    grid-column-end: 3; }
  .labels > .collection .type-label {
    grid-column-start: 3;
    grid-column-end: 4; }
  .labels > .collection ul.label {
    width: 100px;
    color: red; }

.issue {
  display: flex;
  flex-flow: row nowrap; }
  .issue > li {
    flex: 0 1 auto; }
    .issue > li.number {
      flex: 0 0 100px;
      text-align: center; }
    .issue > li.title {
      flex: 0 0 190px; }
    .issue > li.body {
      flex: 0 0 280px; }
    .issue > li.labels {
      flex: 0 0 190px; }
    .issue > li.state {
      flex: 0 0 50px; }
    .issue > li.assignee {
      flex: 0 0 180px; }

form {
  display: flex; }
  form input {
    flex: 0 0 100%; }

table.base, form {
  max-width: calc(100vw - 30px);
  margin: 1rem auto 5rem;
  border: 1px solid silver; }

td {
  overflow: hidden;
  position: relative;
  vertical-align: top; }

tbody > tr:first-child td::before {
  content: attr(class);
  text-transform: capitalize;
  background-color: lightskyblue;
  width: 100%;
  display: inline-block; }

tbody > tr:first-child td.labels::before {
  content: 'Client Priority Type';
  text-align: justify; }

form {
  display: flex;
  width: 500px;
  flex-flow: row wrap; }

label {
  flex: 1 1 100%;
  padding: 1rem; }
  label span {
    width: 100px;
    font-weight: bold;
    display: inline-block; }

ul.labels-children {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

td.user, td.id {
  display: none; }
